*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    /* SECTION SIZE */
    --sect-size: 90vh;

    /* COLORS */

    --primary: #efe830;
    --primary-glass: rgba(239, 233, 48, 0.75);

    --color-primary100:#999867;

    --secondary: #b05c3b;
    --secondary-glass: rgb(107, 65, 59X );
    /* --secondary: #0c391e; */
    --neutral: #050a22;


    --color-dark: rgb(34, 34, 34);
    --color-dark300: rgb(7, 34, 39);
    --color-dark200: rgb(90, 90, 90);
    --color-light: rgb(243, 239, 224);
    --color-light500: rgb(53, 133, 139);
    --color-light300: rgb(79, 189, 186);
    --color-light100: #F3EFE0;

    /* FONT SIZES */
    --fs-100: 1rem;
    --fs-300: 1.3rem;
    --fs-500: 3rem;
}
.main-container{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100vh;
    /* border: solid rgb(0, 145, 36); */
}
.child-sections{
    scroll-snap-align: start;
    height: 100vh;
}

.sect1{
    /* linear-gradient(rgba(11, 28, 50, 0.562), rgba(128, 128, 128, 0.601)), */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main-bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top:solid black;
    background-attachment: fixed;
    width: 100%;

}
.animWrap{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    color: var(--color-light100);
    font-size: 2.5rem;
    height: 3.5rem;
    overflow: hidden;
    
}
@keyframes slide {
    0%{margin-top: -224px;}
    5%{margin-top: -112px;}
    33%{margin-top: -112px;}
    38%{margin-top: -56px;}
    66%{margin-top: -56px;}
    71%{margin-top: -0px;}
    100%{margin-top: 0px;}
}
.animtxtSlide{
    /* background-color: yellow; */
    font-size: 2.5rem;
    height: 3.5rem;
}
.animtxtSlide:nth-child(1){
    animation: slide 5s linear infinite;
    /* background-color: rgb(0, 255, 8); */
}
.animtxtSlide:nth-child(2){
    /* background-color: rgb(40, 10, 147); */
    /* animation: slide 5s linear infinite; */
}
.animtxtSlide:nth-child(3){
    /* background-color: rgb(255, 234, 1); */
    /* animation: slide 5s linear infinite; */
}
.animtxt{
    color: var(--primary);
    
    font-size: 2.5rem;
    height: 3.5rem;
    padding-left: 10px ;
    margin-top: 0;
}

.text p{
    /* color: rgb(246, 246, 246); */
    color: var(--color-light100);
    font-size: var(--fs-100);
    line-height: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.btn{
    margin-top: 1rem;
    margin-left: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 150px;
    border: 0.35rem solid rgb(0, 0, 3);
    border-radius: 20px


}
.btn:hover{
    background-color: #efe93077;
}
.btn a{
    /* border: 0.35rem solid var(--color-dark300); */
    color: var(--color-light100);
    text-decoration: none;

}
.name{
    /* color:  var(--color-light500); */
    color: var(--primary);

}
.text h1{
    /* color: rgb(141, 27, 27); */
    color: var(--color-light100);
    font-size: 2.5rem;

}
.logo{
    /* border: solid var(--color-dark300) 5px; */
    font-family: 'Share Tech Mono', monospace;
    font-size: 3.5rem;
    left: 5rem;
    margin-left: 3rem;
    padding: 1rem;
    color: var(--primary);
}

.header{
    /* border: solid rgb(0, 255, 115); */
    margin-top: 3rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    /* border: solid rgb(15, 223, 74); */
    margin-right: 1rem;
}

nav li{
    display: inline;
    border: 0.35rem solid var(--color-dark300);
    padding: 0.75rem;
    margin: 3rem;
    /* font-size: var(--font500); */

    border-radius: 30px;
}
nav li:hover{
        background-color: #efe93077;
        cursor: pointer;
}
nav li a{
    font-size: 0.8rem;
    color: var(--color-light100);
    text-decoration:none;

}
.article1{
    /* border: solid gold; */
    margin-top: 8rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: var(--font500);
}
.text{
    width: 50%;
    /* border: solid green; */
}
.mypic{
    width: 400px;
    height: 400px
}
/* SECTION ONE END  SECTION ONE END  SECTION ONE END  SECTION ONE END  SECTION ONE END
SECTION ONE END  SECTION ONE END  SECTION ONE END  SECTION ONE END  SECTION ONE END
  SECTION ONE END  SECTION ONE END  SECTION ONE END  SECTION ONE END  SECTION ONE END */

.sect2{
    background: var(--neutral);
    /* height: var(--sect-size); */
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 80px;
    color: rgb(205, 216, 216);
    width: 100%;
};
h2{
    color: var(--primary);
}
/* .fade-in{
    animation: fadeIn 2s;
} */
@keyframes slideDown {
    0%{
        margin-top: calc(5*36px);

    }
    100%{
        margin-top: calc(10*36px);

    }
}
@keyframes slideUp {
    0%{
        margin-top: calc(20px);

    }
    50%{
        margin-top: -25px;
    }
    100%{
        margin-top: -50px;

    }
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.tmpCont2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tmpCont2 h2{
    margin-top: 40px;
    /* color: blue; */
}

/* .content1{
    /* border: solid gold; */
    /* margin-top: 10px;
    margin-left: 78px;
    padding: 30px;
    position: relative;
    width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: #efe930cd;
}  */

.content1{
    margin-top:  60px;;
    width: 1250px;
    /* background-color: #30ef50; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxWrap{
    border-radius: 10px;
    /* background-color: #6b413b; */
    /* position: relative;
    overflow: hidden;
    background-size: cover; */
    width: 350px;
    height: 350px;
    /* display: flex; */
    justify-content: space-between;
    margin: 20px;
}
.boxWrap h2{
    border: solid var(--neutral);
    background-color: #efe930c6;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    margin: 20.5px;
    bottom: 25px;
    width: 310px;
    font-size: 35px;
    color: var(--neutral);
}
.boxWrap:nth-child(1){
    background-image: url(images/picTropa.png);
    /* background-color: #30ef50; */
    background-size: cover;
}
.boxWrap:nth-child(1):hover{
    margin-top: -50px;
    animation: slideUp;
    background-image: url(images/picTropaY.png);
    background-size: cover;
}


.boxWrap:nth-child(1):hover h2{
    background-color: var(--neutral);
    color: var(--primary);
    text-align: center;
    /* animation: fadeIn 2s; */
}

.boxWrap:nth-child(1):hover p{
    font-size: 13px;
    width: 350px;
    text-align: center;
    margin-top: 360px;
    opacity: 1;
    animation: slideDown 1s, fadeIn 5.5s;
}

.sldTxt p{
    margin-top: calc(5*36px);
    opacity: 0;

}

.boxWrap:nth-child(2){
    background-image: url(images/bgSola.jpg);
    /* background-color: #fa6000; */
    background-size: cover;
}
.boxWrap:nth-child(2):hover{
    margin-top: -50px;
    animation: slideUp;
    background-image: url(images/bgSolaY.jpg);
    background-size: cover;
}
.boxWrap:nth-child(2):hover p{
    font-size: 13px;
    width: 350px;
    text-align: center;
    margin-top: 360px;
    opacity: 1;
    animation: slideDown 1s, fadeIn 5.5s;
}
.boxWrap:nth-child(2) h2{
    background-color: #efe930c6;
    color: var(--neutral);
    width: 297px;
    margin: 25.5px;
    bottom: 20px;
}
.boxWrap:nth-child(2):hover h2{
    background-color: var(--neutral);
    color: var(--primary);
    width: 297px;
    margin: 25.5px;
    bottom: 20px;
    /* animation: fadeIn 2s; */

}
.boxWrap:nth-child(3){
    background-image: url(images/dagatPic.jpg);
    /* background-color: #efe830; */
    background-size: cover;
    background-position: center;
}
.boxWrap:nth-child(3):hover{
    margin-top: -50px;
    animation: slideUp;
    background-image: url(images/dagatPicY.jpg);
    background-size: cover;
}
.boxWrap:nth-child(3):hover p{
    font-size: 13px;
    width: 350px;
    text-align: center;
    margin-top: 360px;
    opacity: 1;
    animation: slideDown 1s, fadeIn 5.5s;
}

.boxWrap:nth-child(3) h2{
    background-color: #efe930c6;
    color: var(--neutral);
    width: 215px;
    margin-left: 66.5px;
    bottom: 22px;
}
.boxWrap:nth-child(3):hover h2{
    background-color: var(--neutral);
    color: var(--primary);
    width: 215px;
    margin-left: 66.5px;
    bottom: 22px;

}
.tmpCont2 .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.txtBox{
    width: 1028px;
    text-align:center; 
}

.spcHeader h2{
    margin-bottom: 40px;
    font-size: 40px;
    color: var(--primary);
}
.content1 .txtBox{
    color: var(--primary);
    z-index: 222;
    background-color: #e0dfc080;
    backdrop-filter: blur;
    padding: 40px;
    max-width: 400px;
    border: 2px solid var(--neutral);
    border-radius: 10px;
    transform: translate(-80px, 60px);
}
.fade-wrapper{
    position: absolute;

    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fade-wrapper:hover{
    opacity: 1;

    animation: fadeIn 3s;
    position: absolute;
}

/* SECTION 2 END SECTION 2 END SECTION 2 END SECTION 2 END SECTION 2 END
SECTION 2 END SECTION 2 END SECTION 2 END SECTION 2 END SECTION 2 END
  SECTION 2 END SECTION 2 END SECTION 2 END SECTION 2 END SECTION 2 END  */



.sect3{
    background: linear-gradient(to bottom, #b05c3b8a 20%, #050a22df 80%),url(images/bgSky.jpg);
    /*linear-gradient(to bottom, #585858 1%, rgba(0, 0, 231, 0)), */
    /* height: var(--sect-size); */
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tmpCont3{
    display: flex;
    width: 2048px;
    height: 720px;
    backdrop-filter: blur;
    padding: 40px;
    border-radius: 10px;
    margin:20px;

}
.textH{
    margin-left: 30px;
    color: var(--color-light100);
    align-self: center;
    height: max-content;
    width: 25%;
    font-size: 40px;
    line-height: 3.5rem;
}
.contentBox{
    margin:20px;
    width:75%;
    display:flex;
    flex-direction: column;
}
.up{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down{
    width: 100%;
    height: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.upContent, .downContent{
    line-height: 1.5rem;
    width:32%;
    height: 100%;
    /* border: 1px solid rgb(244, 6, 6); */
}
.upContent:nth-child(1){
    background-image: url(images/onePiecea.png);
    background-position: center;
    background-size: contain;
    border-radius: 50px;
}
.upContent:nth-child(1):hover{
    background-image: url(images/bgOnePiece.jpg);
    animation: fadeIn 1s;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}
.upContent:nth-child(3){
    background: url(images/poetry1.png);
    background-position: center;
    background-size: contain;
    border-radius: 50px;
}
.upContent:nth-child(3):hover{
    background-image: url(images/poetryH.jpg);
    animation: fadeIn 1s;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}
.downContent:nth-child(2){
    background-image: url(images/music.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.downContent:nth-child(2):hover{
    background-image: url(images/SwiftCandy.jpg);
    animation: fadeIn 1s;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}
.upContent:nth-child(2) h2, .upContent:nth-child(2) p{
    color: var(--color-light100);
    text-align: center;
    margin-bottom: 15px;
}
.downContent:nth-child(3) h2, .downContent:nth-child(3) p{
    color: var(--color-light100);
    margin-bottom: 15px;
    text-align: right;
    margin-top: 18px;

}
.downContent:nth-child(1) h2, .downContent:nth-child(1) p{
    margin-bottom: 15px;
    margin-top: 18px;
    color: var(--color-light100);
}
/* SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END
SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END
SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END
SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END
SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END SECTION 4 END */

.sect4{
    display:flex;
    justify-content: center;
}
.tmpCont4{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: row;

}
.sidebar{
    background:var(--neutral);
    width: 28%;
    writing-mode: vertical-rl;
    text-orientation:upright;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 1.3rem;
    font-weight: bolder;
}
.tmpCont4 .content{
    /* background-color: rgb(37, 39, 37); */
    background-size: cover;
    background: linear-gradient(#050a22a4,#d5d02c49 /*#b05c3b8a*/), url(images/bgRoses.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}


@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}


.modal {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal:target {
    display: none;
    position: fixed;
}


.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}


.modal-dialog .modal-content {
    margin: auto;
    background-color: white;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    text-align: justify;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    -webkit-animation-name: example; 
    -webkit-animation-duration: 0.5s; 
    animation-name: example;
    animation-duration: 0.5s;
}


.closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: var(--primary);
}
.closebtn:target{
display:none;
color: orange;
background-color:black;
}
.closebtn:hover,
.closebtn:focus {
    color: #b05c3b;
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding: 10px 16px;
}

header {
    background-color: var(--neutral);
    font-size: 25px;
    color: var(--primary) ;
    text-align: center;
}

footer {
    background-color: #5cb85c;
    font-size: 20px;
    color: white;
}






.textCont{
    width: 80%;
    height: 70%;
    margin-top: 100px;
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-align: justify;
    color: var(--color-light100);
    /* border: 10px solid rgb(28, 100, 163); */
    /* background-color: red; */
    overflow-y:scroll;
}
.sticky {
    color: var(--color-light100);
    background-color: var(--neutral);
    position: sticky;
    border: 5px solid var(--primary);
    top:0px;
    padding: 10px;
    text-align: center;
}

.textCont::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }
.sect5{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 80px;
    /* background: linear-gradient(to bottom, #efe930cd, #b05c3bbe), url(images/hex.jpg); */
    background-color: #efe830;
    background-size: cover;
    background-attachment: fixed;
}
.sect5 h2{
    /* margin-top: 40px; */
    align-self: center;
}

